<%layout("/layouts/boilerplate.ejs")%>

<div class="row">
  <h1 class="col-8 offset-2">Sign-up</h1>
  <div class="col-8 offset-2">
    <form method="POST" action="/signup" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          name="username"
          id="username"
          placeholder="Enter your username"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!!</div>
        <!-- <div class="invalid-feedback">username already Exist</div> -->
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          name="email"
          id="email"
          placeholder="Enter your email"
          type="email"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!!</div>
        <!-- <div class="invalid-feedback">username already Exist</div> -->
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          name="password"
          id="password"
          placeholder="Enter your password"
          type="password"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!!</div>
        <!-- <div class="invalid-feedback">username already Exist</div> -->
      </div>

      <button
        class="btn btn-success"
        style="border: none">
        SignUp
      </button>
    </form>
  </div>
</div>
